body {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/91YWN2-mI6L._SL1500_.jpg);
  background-repeat: no-repeat;
}

#NewGame {
  position: absolute;
  border-radius: 12px;
  font-size: 50px;
  background-color: red;
  color: white;
  left: 30%;
  top: 30%;
  transition-duration: 0.5s;
}

#NewGame:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(158, 0, 0);
}

#NewGame:active {
  background-color: red;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

#NewGame:focus {
  outline: none;
}

#levels {
  position: absolute;
  list-style: none;
  color: white;
  text-align: center;
  background-color: red;
  width: 35%;
  height: 250px;
  font-size: 30px;
  border-radius: 30px;
  left: 33%;
  top: 100px;
  opacity: 0.9;
  display: none;
}

li {
  position: relative;
  right: 15%;
  margin: 30px;
  cursor: pointer;
}

li:hover {
  color: black;
  cursor: pointer;
}

.memory-game {
  position: relative;
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  top: 100px;
}

.memory-card {
  width: 150px;
  height: 150px;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: none;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.back-face {
  background-image: url(https://yt3.ggpht.com/a-/AN66SAwQlZAow0EBMi2-tFht-HvmozkqAXlkejVc4A=s900-mo-c-c0xffffffff-rj-k-no);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#restart {
  position: absolute;
  color: white;
  left: 37%;
  top: 30%;
  border-radius: 12px;
  font-size: 50px;
  background-color: red;
  display: none;
}

#restart:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(158, 0, 0);
}

#restart:active {
  background-color: red;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

#restart:focus {
  outline: none;
}

#wrongGuesses {
  background-color: red;
  color: white;
  font-weight: bold;
  position: absolute;
  border-radius: 8px;
  font-size: 40px;
  top: -80px;
  left: 140px;
}
